################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/x86Emulator/.vs
*.vsidx
.nuget/
